.container{
    width: 400px;
    margin: 0 auto;
}
.formInput{
    border: 3px black;
    background-color: #dddddd;
    margin-bottom: 2px;
    text-align: left;
    padding: 5px 0px 0px 10px;
    border-radius: 5px;
    height: 65px;
    align-content: center; 
} 
input[type=text]{
    border-radius: 4px;
    margin-left: 30px;
}
.resultBox{
    display: flex;
    justify-content: space-around;
}
.result{
    text-align: left;
}
.btn{
    border-radius: 4px;
    background-color: aquamarine;
    color: whitesmoke;
}