.container{
    background-color: #e5e5f7;
    opacity: 0.2;
    background: linear-gradient(135deg, #f745e255 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #f745e2 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f745e255 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f745e2 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}